body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}


/* HEADER */


.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list{
    display: none;
    /* gap: 40px*/
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 0;

}

/* .logo-header{
    /* margin-right: 76px; */


.logo-part {
    color: #2E2F42;
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.open-menu-bt {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    
} 

/* SECTION 1 */


.solution{
    background-color: #2e2f42;
    box-sizing: content-box;
    padding-top: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-11-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    /* height: 432px;  */
    margin: auto;
    position: relative;
    background-color: var(--navy-blue);
    padding: 72px 0;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.solution {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-11-mob-2x.jpg);
}
}
.solution-image{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
}
.solution-title {
    color: #FFFFFF;
    margin: 0 auto 72;
    margin-bottom: 72px;
    margin-right: 52px;
    margin-left: 52px;
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.solution-button {
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    gap: 10px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-button:hover,
.solution-button:focus{
    background-color: #404BBF;
}


/* SECTION 2 */


.topics {
    padding-top: 96px;
    padding-bottom: 96px;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.topics-menu {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.topics-menu-list {
    justify-content: center;
    align-items: center;
}

.topics-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.topics-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.topic-elem{
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


/* SECTION 3 */


.team {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
}

.team-menu {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-image {   
}

.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        
}

.team-elem-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
    align-items: center;
}

.team-icon{ 
    fill: #F4F4FD;
}
.team-elem-item{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.team-elem-icon{
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-elem-icon:hover,
.team-elem-icon:focus{
background-color: #404BBF;

}


/* SECTION 4 */

.container-portfolio{
    padding-top: 96px;
    padding-bottom: 96px;
}
    
.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column; 
    gap: 48px;
}

.portfolio-list-item {
width: 100%;
transform: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-cover-text{
    transform: translateY(0);
}

/* .portfolio-list-item:hover,
.portfolio-list-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    translate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */

.portfolio-list-image {

}

.portfolio-st {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none ;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-cover-wrap{
position: relative;
overflow: hidden;
}

.portfolio-cover-text{
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

/* FOOTER */

.foot{
        background-color: #2E2F42;
        padding-top: 96px;
        padding-bottom: 96px;
        color: #FFFFFF;
}
.element-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
}

.logo-footer-cont{
        margin-bottom: 72px;
}
.logo{
        text-align: center;
        padding: 16px 0;
}
.logo-footer{
        font-family: Raleway, sans-serif;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: 700;
        color: #4D5AE5;
        display: block;
}
.logo-part-foot{
        color: #F4F4FD;
}

.foot-text{
    max-width: 288px;
    color: #F4F4FD;
}
.elem-cont{
        margin-bottom: 72px;
}
.footer-elem-title{
        text-align: center;
            margin-bottom: 16px;
            font-weight: 500;
}
.footer-elem-list{
    display: flex;
        justify-content: center;
        gap: 16px;
}
.elem-icon{
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-form{
        display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
}

.footer-form-title{
    text-align: center;
        font-weight: 500;
}

.footer-input{
    display: inline-block;
        color: #FFFFFF;
        background-color: inherit;
        border-radius: 4px;
        border: 1px solid #ffffff;
        padding: 8px 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        width: 288px;
        height: 40px;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        margin-top: 16px;
}
.form-button{
display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
        background-color: #4D5AE5;
        color:#FFFFFF;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.04em;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon{
    fill: #FFFFFF;
        height: 24px;
        width: 24px;
        margin-left: 16px;
}


/*MODAL*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);

}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}


.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:focus {
    fill: #4D5AE5;
}


.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4)
}

.visually-hidden {
    overflow: hidden;
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-field-checkbox {
    margin-bottom: 24px;
    display: flex;
}

.modal-check {
    visibility: hidden;
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-check-span{
    width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        flex-shrink: 0;
}



.modal-open-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.check-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}


.visually-hidden:checked+.check-text span {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.privacy-text {
    display: flex;
}

.modal-check-span {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MEDIA */

@media screen and (min-width: 768px){
    
    .container {
        max-width: 768px;
    }
    .open-menu-bt {
        display: none;
    }
    .logo {
        margin-right: 120px;
        }
        
    .nav-list {
        display: flex;
        gap: 40px;
        }
        
    .address {
        display: block;
        }
        
    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
        }
        
    .current {
        position: relative;
        color: #404BBF;
        }
        
    .current::after {
        content: "";
        position: absolute;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        left: 0;
        bottom: -1px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .address-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        }
        
    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
        }

    .solution {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-11-tab.jpg);
}

    .solution-title{
        max-width: 496px;
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        margin-left: 136px;
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .solution {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-11-tab-2x.jpg);
            }
            }

    .topics {
        padding-top: 96px;
        padding-bottom: 96px;
}
    .topics-menu{
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        display: flex;
        flex-wrap: wrap;

    }

    .topics-text {
        font-weight: 500;
}
.topics-title{
        margin-bottom: 8px;
        text-align: left;
}

.topics-menu-list {
        width: calc((100% - 24px)/2);
}

.teams .container{
    width: 552px;
}

.team-title{
    margin-bottom: 72px;
}

.team-menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
}

.team-list-item{
}

.portfolio-list{
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
    flex-wrap: wrap;
}
.portfolio-list-item{
    width: calc((100% - 24px)/2);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.foot{
        padding-top: 100px;
        padding-bottom: 100px;
}
.element-container{
        flex-direction: row;
            justify-content: start;
            align-items: baseline;
            column-gap: 24px;
            row-gap: 72px;
            padding-left: 108px;
}
.logo-footer-cont{
    margin-bottom: 0px;
}
.logo-footer{
    margin-right: 0;
}
.logo{
    text-align: start;
}
.foot-text{
    max-width: 264px;
}
.elem-cont{
    margin-bottom: 0px;
}
.footer-elem-title{
    text-align: start;
}
.foot-form{
        flex-direction: row;
        gap: 24px;
        align-items: end;
}
.footer-form-title{
    text-align: start;
}

.modal{
width: 408px;
min-height: 584px; 
}

}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    .logo {
        /* margin-right: 76px; */
    }
    
    .address-list {
        flex-direction: row;
        gap: 40px;
        }
    
    .address-link {
        font-size: 16px;
        line-height: 1.5;
        }
    .solution {
        padding-top: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-11.jpg);
        }  
                @media screen and (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .solution {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-11-deck-2x.jpg);
                    }
                }
    .solution-title {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
        }

    .topics {
        padding-top: 96px;
        padding-bottom: 96px;
        }
        
    .topics-menu {
        gap: 24px;
        }

    .topics-menu-list{
        width: calc((100% - 72px)/4);
    }
    .topics-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
        }
        
    .topics-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        }
        
    .topic-elem {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        }

    .team-menu {
        gap: 24px;
        flex-direction: row;
        }
        
    .team-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
        
    .container-portfolio {
        padding: 96px 0 96px 0;
        }
        
    .portfolio {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            color: #2E2F42;
            margin-bottom: 72px;
        }
    .portfolio-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 48px;
        }
    .portfolio-list-item {
        width: calc((100% - 48px)/3);
        box-shadow: none;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    translate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.element-container{
    justify-content: space-between;
    padding-left: 16px;
    gap: 0px;
}
.foot-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo-footer{
    margin-right: 0;
}
.logo-footer-cont{
    margin-right: 120px;
}
.elem-cont{
    margin-right: auto;
}

}
 /* MENU */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.menu-wrap-cont{
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
}
.menu-button {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-bottom: 24px;
    flex-shrink: 0;
}
.menu-button:hover, .menu-button:focus{
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}


.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-navigation {
    margin-bottom: auto;
}

.menu-nav-list {}

.menu-nav-list-item:not(:last-child) {
margin-bottom: 40px;
}

.menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.menu-nav-list-item:nth-child(1) .menu-nav-link{
    color:#404BBF
}


.menu-address {
    display: block;
    margin-bottom: 48px;
    margin-top: auto;
}

.menu-address-list-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-top: 24px;
}
.menu-address-list {

}
.menu-address-list-item:nth-child(1) .menu-address-link{
color:#4D5AE5
}
.menu-address-link {
color: #434455;
}

.menu-icons {}

.menu-elem-list {
    display: flex;
    gap: 40px;
}

.menu-elem-item {}

.menu-elem-icon {
    width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon {}





